<div class="mat-display-1" style="text-align: center;">Welcome to home page of Conqueror game!</div>
<div class="teaser-container">
    <div class="teaser">
        <span class="teaser-title"> Build your village</span>
        <img src="../../assets/images/main_screen/village.jpg">
        <hr/>
        Every player starts with one village. Make more people live there and soon you will be able to grow.
    </div>
    <div class="teaser">
        <span class="teaser-title"> Train and arm your people</span>
        <img src="../../assets/images/main_screen/forge.jpg">
        <hr/>
        When your village grow up you are able to train your people to be your solders. Arm them with the best weapons.
    </div>
    <div class="teaser">
        <span class="teaser-title"> Fight with your enemies</span>
        <img src="../../assets/images/main_screen/fight.jpg">
        <hr/>
        While you are ready you can make wars with other players and steal theirs resources, people or weapons.
    </div>
</div>
