.heroes-link {
  display: inline-block;
}

.heroes-link a {
  background-color: darkslateblue;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;
  color: deepskyblue;
  padding: 8px 16px;
  margin: 3%;
  text-decoration: none;
}

.heroes-link a.active {
  background-color: #4CAF50;
  color: white;
}

.heroes-link a:hover:not(.active) {
  background-color: #555;
  color: white;
}
