.entry{
  width: 23%;
  border: 1px solid gray;
  padding: 1%;
  min-height: 90%;
  margin: 2% 5%;
  float: left;
  text-align: center;
}

.entry img{
  width: 50%;
  height: 10%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}
