<div class="entry">
    Building technology <br/>
    <img src="../../../assets/images/research/building.png"/> <br/>
    Level: {{research.building}}<br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Agriculture technology<br/>
    <img src="../../../assets/images/research/agriculture.png"/> <br/>
    Level: {{research.agriculture}} <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Logistics technology<br/>
    <img src="../../../assets/images/research/logistics.png"/> <br/>
    Level: {{research.logistics}} <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Attack technology<br/>
    <img src="../../../assets/images/research/attack.png"/> <br/>
    Level: {{research.attack}} <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Armour technology<br/>
    <img src="../../../assets/images/research/armour.png"/> <br/>
    Level: {{research.armour}} <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Mining technology<br/>
    <img src="../../../assets/images/research/mining.png"/> <br/>
    Level: {{research.mining}} <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
