<div *ngIf="account">
    <div class="ingame-menu">
        <div class="resources">
            <div class="resource"><img src="../../../assets/images/resources/gold.png" title="Gold"/>
                <br/> {{account.gold}}</div>
            <div class="resource"><img src="../../../assets/images/resources/wood.png" title="Wood"/>
                <br/> {{account.wood}}</div>
            <div class="resource"><img src="../../../assets/images/resources/stone.png" title="Stone"/>
                <br/> {{account.stone}}</div>
            <div class="resource"><img src="../../../assets/images/people/normal.png" title="People"/>
                <br/> {{account.people}} </div>
        </div>
        <div class="ingame-nav">
            <ul>
                <li><a routerLink="overview">Overview</a></li>
                <li><a routerLink="population">Population</a></li>
                <li><a routerLink="resources">Resources</a></li>
                <li><a routerLink="research">Research</a></li>
                <li><a routerLink="buildings">Buildings</a></li>
                <li><a routerLink="barracks">Barracks</a></li>
                <li><a routerLink="heroes">Heroes</a></li>
                <li><a routerLink="defence">Defence</a></li>
                <li><a routerLink="map">Map</a></li>
                <li><a routerLink="dungeons">Dungeons</a></li>
            </ul>
        </div>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
