<div *ngIf="isDataLoaded">
    <div *ngFor="let account of allAccounts" class="player-position"
         [ngStyle]="{'background-image': 'url('+getImageName(account.cityPosition)+')'}">
        <div *ngIf="account.units">
            <div class="position-info left-position-info">
                <img src="{{getPositionCityImage(account.fraction)}}"/> <br/>
                Player : {{account.nick}} <br/>
                City name: {{account.cityName}}
            </div>
            <div class="position-info right-position-info">
                <div class="resources">
                    <div class="resource-small"><img src="../../../assets/images/resources/gold.png" title="Gold"/>
                        <br/> {{account.gold}}
                    </div>
                    <div class="resource-small"><img src="../../../assets/images/resources/wood.png" title="Wood"/>
                        <br/> {{account.wood}}
                    </div>
                    <div class="resource-small"><img src="../../../assets/images/resources/stone.png" title="Stone"/>
                        <br/> {{account.stone}}
                    </div>
                </div>
                <div class="army">
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 1)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 1)}}"/>
                        <br/> {{account.units.unit1}}
                    </div>
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 2)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 2)}}"/>
                        <br/> {{account.units.unit2}}
                    </div>
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 3)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 3)}}"/>
                        <br/> {{account.units.unit3}}
                    </div>
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 4)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 4)}}"/>
                        <br/> {{account.units.unit4}}
                    </div>
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 5)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 5)}}"/>
                        <br/> {{account.units.unit5}}
                    </div>
                    <div class="resource-small"><img src="{{getUnitImage(account.fraction, 6)}}"
                                                     title="{{getUnitNameByFraction(account.fraction, 6)}}"/>
                        <br/> {{account.units.unit6}}
                    </div>
                </div>
                <div *ngIf="account.cityPosition != userAccount.cityPosition">
                    <button (click)="sendMission(account.cityPosition)" class="btn-warning btn-block">Send mission
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
