<div *ngFor="let hero of heroes" class="hero-dungeon">
    <div class="hero-dungeon-hero">
        {{hero.heroClass}} <br/>
        <img src="../../../assets/images/heroes/{{hero.heroClass}}.png"/> <br/>
        Level: {{hero.level}}<br/>
    </div>
    <div style="width: 50%; float: left">
        Next dungeon: {{hero.dungeonsCompleted + 1}} <br/>
        <img src="../../../assets/images/dungeons/dungeon1.jpeg"/> <br/>
    </div>
    <br/>
    <div class="item-reward">
        Reward: <br/>
        <div class="item">
            <img src="../../../assets/images/items/Head2.jpg">
        </div>
        <div class="statistics">
            <div class="statistics-icon" *ngFor="let stat of statistics">
                <img src="../../../assets/images/statistics/{{stat}}.png"> 1
            </div>
        </div>
    </div>
    Guardians: <br/>


    <div class="dungeon-guardians">
        <div class="dungeon-unit">
            <img src="../../../assets/images/dungeons/monsters/Amalgam.png"/> <br/>
            Amalgam<br/>
            1
        </div>
        <div class="dungeon-unit">
            <img src="../../../assets/images/dungeons/monsters/Murloc.png"/> <br/>
            Murloc<br/>
            21
        </div>
        <div class="dungeon-unit">
            <img src="../../../assets/images/dungeons/monsters/Troll.png"/> <br/>
            Troll<br/>
            11
        </div>
        <div class="dungeon-unit">
            <img src="../../../assets/images/dungeons/monsters/TrollBrute.png"/><br/>
            TrollBrute <br/>
            19
        </div>
    </div>
    <br/>

    <button class="btn-warning btn-block" (click)="sendMission(hero.id)">Enter dungeon!</button>
</div>
