<div *ngFor="let hero of heroes" class="hero-dungeon">
    <div class="hero-dungeon-hero">
        {{hero.heroClass}} <br/>
        <img src="../../../assets/images/heroes/{{hero.heroClass}}.png"/> <br/>
        Level: {{hero.level}}<br/>
    </div>
    <div style="width: 50%; float: left">
        Next dungeon: {{hero.nextDungeon.level}} <br/>
        <img src="../../../assets/images/dungeons/dungeon1.jpeg"/> <br/>
    </div>
    <br/>

    <div class="item-reward">
        Reward: <br/>
        <div class="item">
            <img src="../../../assets/images/items/Head2.jpg">
        </div>
        <div class="statistics">
            <div class="statistics-icon" *ngFor="let stat of statistics">
                <img src="../../../assets/images/statistics/{{stat}}.png"> {{getStatOfItem(stat, hero.nextDungeon.reward)}}
            </div>
        </div>
    </div>
    Guardians: <br/>


    <div class="dungeon-guardians">
        <div class="dungeon-unit" *ngFor="let unit of hero.nextDungeon.dungeonUnits">
            <img src="../../../assets/images/dungeons/monsters/{{unit.name}}.png"/> <br/>
            {{unit.name}}<br/>
            {{unit.amount}}
        </div>
    </div>
    <br/>
    <button class="btn-warning btn-block" (click)="sendMission(hero)">Enter dungeon!</button>
</div>
