<div *ngIf="isDataLoaded">
    <div class="entry">
        Axeman <br/>
        <img src="../../../assets/images/units/human/axeman.jpeg"/> <br/>

        <br/>
        In barracks: {{units.unit1}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="entry">
        Knight<br/>
        <img src="../../../assets/images/units/human/knight.jpeg"/> <br/>

        <br/>
        In barracks: {{units.unit2}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="entry">
        Archer<br/>
        <img src="../../../assets/images/units/human/archer.jpeg"/> <br/>

        <br/>
        In barracks: {{units.unit3}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="entry">
        Paladin<br/>
        <img src="../../../assets/images/units/human/paladin.jpeg"/> <br/>
        <br/>
        In barracks: {{units.unit4}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="entry">
        Griphon rider<br/>
        <img src="../../../assets/images/units/human/griphon-rider.jpeg"/> <br/>

        <br/>
        In barracks: {{units.unit5}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="entry">
        Cavalry<br/>
        <img src="../../../assets/images/units/human/cavalry.jpeg"/> <br/>

        <br/>
        In barracks: {{units.unit6}}<br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        <button class="btn-primary">Recruit</button>
    </div>
</div>
