<div class="entry" *ngFor="let unit of units">
    <div class="unit-info">
        {{unit.name}} <br/>
        <img src="../../../assets/images/units/{{account.fraction}}/{{unit.name}}.jpeg"/> <br/>
        <br/>
        In barracks: {{unit.amount}}<br/>
    </div>
    <div class="recruit">
        <div class="resources">
            Unit cost: <br/>
            <div class="resource-small"><img src="../../../assets/images/resources/gold.png" title="Gold"/>
                <br/> {{unit.basicCost.gold}}
            </div>
            <div class="resource-small"><img src="../../../assets/images/resources/wood.png" title="Wood"/>
                <br/> {{unit.basicCost.wood}}
            </div>
            <div class="resource-small"><img src="../../../assets/images/resources/stone.png" title="Stone"/>
                <br/> {{unit.basicCost.stone}}
            </div>
        </div>

        <div class="resources">
            Recruit cost: <br/>
            <div class="resource-small"><img src="../../../assets/images/resources/gold.png" title="Gold"/>
                <br/> {{unit.currentCost.gold}}
            </div>
            <div class="resource-small"><img src="../../../assets/images/resources/wood.png" title="Wood"/>
                <br/> {{unit.currentCost.wood}}
            </div>
            <div class="resource-small"><img src="../../../assets/images/resources/stone.png" title="Stone"/>
                <br/> {{unit.currentCost.stone}}
            </div>
        </div>
    </div>
    <button [ngClass]="{'btn-success' : unit.recruit > 0}" [disabled]="unit.recruit < 1" class="btn-success" (click)="setRecruit(unit, -1)">-</button>
    {{unit.recruit}}
    <button [ngClass]="{'btn-success' : !areEnoughResources(unit.basicCost, unit.currentCost)}" [disabled]="areEnoughResources(unit.basicCost, unit.currentCost)" class="btn-success" (click)="setRecruit(unit, 1)">+</button>
    <button [ngClass]="{'btn-primary' : unit.recruit > 0}" [disabled]="unit.recruit < 1" class="btn-primary" style="width: 50%; margin-top: 4%" (click)="recruit(units.indexOf(unit) + 1, unit.recruit)">Recruit</button>
</div>
