@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    height: 100%;
    margin-left: 5%;
    background: url("assets/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.globo-logo {
  width: 200px;
  margin-top: 10px;
  margin-left: -20px;
}

.navbar-fill {
  flex: 1 1 auto;
}

.list-action {
  width: 40px;
  text-align: center;
}
