.resource-small {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 1% 1%;
}

.resource-small img {
  width: 100%;
}

.hero {
  width: 15%;
  text-align: center;
  float: left;
}

.hero img {
  width: 100%;
}

.heroes {
  width: 25%;
  float: left;
}

.mission-type {
  width: 50%;
  font-size: 70px;
  display: inline-block;
}

.mission-details{
  margin-left: 2%;
  margin-right: 2%;
  width: 20%;
  display: inline-block;
}


.army{
  width: 75%;
  text-align: center;
  float: left;
}

th {
  width: 14%;
  margin: 3%;
}

.bottom-mission {
  width: 100%;
  float:left;
  border-top: 1px solid goldenrod;
  margin-top: 5%;
}

.error-message {
  color: red;
  font-size: 70px;
}
