.entry{
  width: 19%;
  border: 1px solid gray;
  padding: 1%;
  min-height: 90%;
  margin: 2% 3%;
  display: inline-block;
  text-align: center;
}

.entry img{
  width: 30%;
  height: 10%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}

.entry-big{
  width: 100%;
  display: block;
}

.entry-big img{
  width: 100%;
  min-height: 30%;
}

.resource-small{
  width: 20%;
  display: inline-block;
  margin: 1% 4%;
}

.resource-small img{
  width: 100%;
}

.progbar{
  text-align: center;
  color: black;
}
