<div *ngIf="isDataLoaded">
    <div class="entry entry-big">
        Free Workers <br/>
        <img src="../../../assets/images/people/resource.png"/> <br/>
        {{resources.freeWorkers}}
    </div>
    <div class="entry">
        Sawmill <br/>
        <img src="../../../assets/images/buildings/sawmill.jpg"/> <br/>
        Level: {{resources.sawmillLvl}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
        <br/>
        Workers: <br/>
        <button class="btn-success">-</button>
        {{resources.sawmillWorkers}}
        <button class="btn-success">+</button>
        <br/>
        Current production: 100/min<br/>
        <button class="btn-primary">Save</button>
    </div>
    <div class="entry">
        Gold Mine<br/>
        <img src="../../../assets/images/buildings/goldmine.jpg"/> <br/>
        Level: {{resources.goldmineLvl}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
        <br/>
        Workers: <br/>
        <button class="btn-success">-</button>
        {{resources.goldmineWorkers}}
        <button class="btn-success">+</button>
        <br/>
        Current production: 100/min <br/>
        <button class="btn-primary">Save</button>
    </div>
    <div class="entry">
        Stone Pit<br/>
        <img src="../../../assets/images/buildings/stonepit.jpg"/> <br/>
        Level: {{resources.stonepitLvl}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
        <br/>
        Workers:<br/>
        <button class="btn-success">-</button>
        {{resources.stonepitWorkers}}
        <button class="btn-success">+</button>
        <br/>
        Current production: 100/min<br/>
        <button class="btn-primary">Save</button>
    </div>
</div>
