<div class="entry">
    Hall <br/>
    <img src="../../../assets/images/buildings/hall.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Barracks<br/>
    <img src="../../../assets/images/buildings/barracks.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Research Institute<br/>
    <img src="../../../assets/images/buildings/institute.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    War Institute<br/>
    <img src="../../../assets/images/buildings/war_institute.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Farm<br/>
    <img src="../../../assets/images/buildings/farm.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
<div class="entry">
    Warehouse<br/>
    <img src="../../../assets/images/buildings/warehouse.png"/> <br/>
    Level: 0 <br/>
    <button class="btn-success btn-upgrade">Upgrade</button>
</div>
