.entry{
  width: 20%;
  border: 1px solid gray;
  padding: 1%;
  min-height: 90%;
  margin: 1% 2%;
  display: inline-block;
  text-align: center;
}

.entry img{
  width: 50%;
  height: 10%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}
.resource-small{
  width: 20%;
  display: inline-block;
  margin: 1% 2%;
}

.resource-small img{
  width: 100%;
}
