<div class="entry" *ngFor="let building of buildingEntities">
    {{building.name}}<br/>
    <img src="../../../assets/images/buildings/{{building.name}}.png"/> <br/>
    Level: {{building.level}} <br/>
    <div class="resources">
        <div class="resource-small"><img src="../../../assets/images/resources/gold.png" title="Gold"/>
            <br/> {{building.currentCost.gold}}
        </div>
        <div class="resource-small"><img src="../../../assets/images/resources/wood.png" title="Wood"/>
            <br/> {{building.currentCost.wood}}
        </div>
        <div class="resource-small"><img src="../../../assets/images/resources/stone.png" title="Stone"/>
            <br/> {{building.currentCost.stone}}
        </div>
    </div>
    <div *ngIf="currentlyUpgrading == building.name">
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated progbar"
                 role="progressbar" [attr.aria-valuenow]="percent"
                 [style.width.%]="percent" aria-valuemin="0" aria-valuemax="100"> Upgrading: {{percent}}%
            </div>
        </div>
        <div> {{this.remainingTimeString}} </div>
    </div>
    <button [disabled]="(currentlyUpgrading != building.name && currentlyUpgrading != null) || !isUpgradePossible(building) "
            [ngClass]="{'btn-success': isUpgradePossible(building) && currentlyUpgrading == null , 'btn-danger' : currentlyUpgrading == building.name}"
            class="btn-upgrade btn-success"
            (click)="upgrade(building.name)">{{currentlyUpgrading == building.name ? 'Cancel' : 'Upgrade'}}</button>
</div>
