<div *ngIf="isDataLoaded">
    <div class="entry">
        City wall <br/>
        <img src="../../../assets/images/defence/wall.jpeg"/> <br/>
        Level: {{defence.cityWall}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
    </div>
    <div class="entry">
        Guard towers <br/>
        <img src="../../../assets/images/defence/tower.jpeg"/> <br/>
        Amount: {{defence.guardTowers}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
        <br/>
        Workers: <br/>
        <button class="btn-success">-</button>
        0
        <button class="btn-success">+</button>
        <br/>
        Current production: 100/min<br/>
        <button class="btn-primary">Save</button>
    </div>
    <div class="entry">
        Moat <br/>
        <img src="../../../assets/images/defence/moat.jpeg"/> <br/>
        Level: {{defence.moat}} <br/>
        <button class="btn-success btn-upgrade">Upgrade</button>
    </div>
</div>
