.entry{
  width: 23%;
  border: 1px solid gray;
  padding: 1%;
  min-height: 90%;
  margin: 2% 5%;
  float: left;
  text-align: center;
}

.entry img{
  width: 50%;
  height: 10%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}

.btn-upgrade{
  width: 40%;
  margin: 4%;
}

.entry-big{
  width: 30%;
  min-height: 30%;
  float: none;
  margin-left: 35%;
  margin-right: 35%;
}

.entry-big img{
  width: 45%;
  min-height: 30%;
}

.resource-small{
  width: 20%;
  display: inline-block;
  margin: 1% 2%;
}

.resource-small img{
  width: 100%;
}
