<div style="text-align: center">Your heroes : <br/>
    <div class="hero"> Hero 1</div>
    <div class="hero"> Hero 2</div>
    <div class="hero"> Hero 3</div>
<br/>

Heroes in tavern : <br/>
    <div class="hero"> Hero 1 <br/>
        <img src="../../../assets/images/heroes/crusader.jpg"/> </div>
    <div class="hero"> Hero 2 <br/>
        <img src="../../../assets/images/heroes/assasin.jpg"/></div>
    <div class="hero"> Hero 3 <br/>
        <img src="../../../assets/images/heroes/paladin.jpg"/></div>
    <div class="hero"> Hero 4 <br/>
        <img src="../../../assets/images/heroes/wizard.jpg"/></div>
</div>
