<div style="text-align: center">Your heroes : <br/>
    <div class="hero"> Crusader <br/>
        <img src="../../../assets/images/heroes/crusader.jpeg"/></div>
    <div class="hero"> Assassin <br/>
        <img src="../../../assets/images/heroes/assassin.jpeg"/></div>
    <div class="hero"> Paladin <br/>
        <img src="../../../assets/images/heroes/paladin.jpeg"/></div>
    <br/>

    Heroes in tavern : <br/>
    <div class="hero"> Crusader <br/>
        <img src="../../../assets/images/heroes/crusader.jpeg"/> <br/>
        <button class="btn-primary">Recruit</button>
    </div>

    <div class="hero"> Assassin <br/>
        <img src="../../../assets/images/heroes/assassin.jpeg"/> <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="hero"> Paladin <br/>
        <img src="../../../assets/images/heroes/paladin.jpeg"/> <br/>
        <button class="btn-primary">Recruit</button>
    </div>
    <div class="hero"> Wizard <br/>
        <img src="../../../assets/images/heroes/wizard.jpg"/> <br/>
        <button class="btn-primary">Recruit</button>
    </div>
</div>
