.left-pane{
  width: 30%;
  float: left;
  padding: 1%;
  margin: 1%;
  border: 1px goldenrod solid;
}

.right-pane{
  float: left;
  padding: 1%;
  margin: 1%;
  width: 65%;
  border: 1px goldenrod solid;
}
.city{
  border: 1px goldenrod solid;
}
.log{
  border: 1px goldenrod solid;
  height: 15em;
  overflow: auto;
}
.left-pane img{
  width: 100%;
}

.entry{
  margin: 1%;
}

.statistics{
  border: 1px goldenrod solid;
}
.resource-small{
  width: 25%;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: 1% 4%;
}
.hero{
  width: 18%;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: 1% 3%;
}
.hero img{
  width: 70%;
}
.resource-small img{
  width: 100%;
}

.army .resource-small {
  width: 8%;
}

.heroes .resource-small img{
  width: 50%;
}
