<div class="left-pane">
    <div style="text-align: center">Your city :</div> <br/>
    <img src="../../../assets/images/cities/human.jpg"/><br/>
    <hr>
    <div class="entry"> City name: Name</div>
    <div class="entry"> City coordinates: 1:1</div>
    <div class="entry"> Heroes:</div>
    <div class="entry"> Units:</div>
    <div class="entry"> Sawmill:</div>
    <div class="entry"> Stone pit:</div>
    <div class="entry"> Gold mine:</div>
</div>
<div class="right-pane">
    <div class="log">
        <div style="text-align: center">Recent events:</div>
        <div class="entry">Log1</div>
        <div class="entry">Log2</div>
        <div class="entry">Log3</div>
        <div class="entry">Log4</div>
        <div class="entry">Log5</div>
        <div class="entry">Log6</div>
    </div>
    <div class="statistics">
        <div style="text-align: center">Statistics:</div>
        <div class="entry">Buildings statistics:</div>
        <div class="entry">Units statistics:</div>
        <div class="entry">Resources statistics:</div>
        <div class="entry">Research statistics:</div>
        <div class="entry">Overall statistics:</div>
    </div>
</div>

