.left-pane{
  width: 30%;
  float: left;
  padding: 1%;
  margin: 1%;
  border: 1px goldenrod solid;
}

.right-pane{
  float: left;
  padding: 1%;
  margin: 1%;
  width: 65%;
  border: 1px goldenrod solid;
}
.city{
  border: 1px goldenrod solid;
}
.log{
  border: 1px goldenrod solid;
}
.left-pane img{
  width: 100%;
}

.entry{
  margin: 1%;
}

.statistics{
  border: 1px goldenrod solid;
}
