<div class="left-pane">
    <div style="text-align: center">Your city :</div>
    <br/>
    <img src="../../../assets/images/cities/{{account.fraction}}.jpg"/><br/>
    <hr>
    <div class="entry"> City name: Name</div>
    <div class="entry"> City coordinates: {{ getCityCoords()}}</div>
    <div class="entry"> Heroes:</div>
    <div class="heroes" >
        <div *ngFor="let hero of account.heroes" class="hero">
            {{hero.heroClass}} <br/>
            <img
                src="../../../assets/images/heroes/{{hero.heroClass}}.png"/> <br/>
             Level {{hero.level}}
        </div>
    </div>
    <div class="entry"> Units:
        <div class="army">
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 1)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 1)}}"/>
                <br/> {{account.units.unit1}}
            </div>
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 2)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 2)}}"/>
                <br/> {{account.units.unit2}}
            </div>
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 3)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 3)}}"/>
                <br/> {{account.units.unit3}}
            </div>
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 4)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 4)}}"/>
                <br/> {{account.units.unit4}}
            </div>
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 5)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 5)}}"/>
                <br/> {{account.units.unit5}}
            </div>
            <div class="resource-small"><img
                    src="../../../assets/images/units/{{account.fraction}}/{{getUnitNameByFraction(account.fraction, 6)}}.jpeg"
                    title="{{getUnitNameByFraction(account.fraction, 6)}}"/>
                <br/> {{account.units.unit6}}
            </div>
        </div>
    </div>
    <div class="entry"> Gold mine: {{account.goldProduction}} gold/min</div>
    <div class="entry"> Sawmill: {{account.woodProduction}} wood/min</div>
    <div class="entry"> Stone pit: {{account.stoneProduction}} stone/min</div>
</div>
<div class="right-pane">
    <div class="log">
        <div style="text-align: center">Current missions:</div>
        <div *ngFor="let x of account.missions">
            <div class="entry">
                {{getMissionMessage(x)}}
            </div>
        </div>
    </div>
    <div class="statistics">
        <div style="text-align: center">Statistics:</div>
        <div class="entry">Buildings statistics: {{account.playerStatistics.buildings}} points</div>
        <div class="entry">Units statistics: {{account.playerStatistics.units}} points</div>
        <div class="entry">Research statistics: {{account.playerStatistics.research}} points</div>
        <div class="entry">Overall statistics: {{account.playerStatistics.overall}} points</div>
    </div>
</div>
