<div class="left-pane">
    <div style="text-align: center">Your city :</div>
    <br/>
    <img src="../../../assets/images/cities/human.jpg"/><br/>
    <hr>
    <div class="entry"> City name: Name</div>
    <div class="entry"> City coordinates: 1:1</div>
    <div class="entry"> Heroes:</div>
    <div class="entry"> Units:</div>
    <div class="entry"> Gold mine: {{account.goldProduction}} gold/min</div>
    <div class="entry"> Sawmill: {{account.woodProduction}} wood/min</div>
    <div class="entry"> Stone pit: {{account.stoneProduction}} stone/min</div>
</div>
<div class="right-pane">
    <div class="log">
        <div style="text-align: center">Recent events:</div>
        <div *ngFor="let x of account.events">
            <div class="entry">
                {{x.content}} at {{x.timeRemaining | date:'HH:mm:ss'}}
            </div>
        </div>
    </div>
    <div class="statistics">
        <div style="text-align: center">Statistics:</div>
        <div class="entry">Buildings statistics: {{account.playerStatistics.buildings}} points</div>
        <div class="entry">Units statistics: {{account.playerStatistics.units}} points</div>
        <div class="entry">Research statistics: {{account.playerStatistics.research}} points</div>
        <div class="entry">Overall statistics: {{account.playerStatistics.overall}} points</div>
    </div>
</div>
